<section class="about" id="about">
  <h3>О нас:</h3>
    <p>В нашем интернет магазине питомника роз есть из чего выбрать. Каталог роз содержит фото и профессиональное описание сортов. При выборе сорта вы можете ориентироваться на такие характеристики , как форма, цвет и размер цветков, насыщенность
        аромата, высота куста, морозоустойчивость.
    </p>
    <p>Наши специалисты уже сделали многое для того, чтобы вырастить саженцы роз, а наш интернет магазин дает вам возможность купить и получить их ТК и почтой России. Мы гарантируем сортность и готовы оказать консультационную поддержку для того,
        чтобы вы успешно посадили и вырастили эти очаровательные розы в своем саду.
    </p>
</section>