<footer>
    <section class="contact" id="contact">
        <p><a href="tel:+79135155043" target="_blank"></a>+7(913)515-50-43</p>
        <p><a href="https://vk.com/ikar108">VK</a></p>
        <p><a href="https://t.me/ikar108">Telegram</a> </p>
        <p><a href="mailto:ikar108@yandex.ru" target="_blank">E-mail</a></p>
    </section>
    <section>
        <p id="client-load-time" class="footer-section-item">Client load time: </p>
        <p id="server-load-time" class="footer-section-item">Server load time: {{server_load_time}} ms</p>
    </section>
    <script src="/js/get-client-load-time.js"></script>
</footer>