<meta charset="utf-8">
<title> РозМарин </title>
<meta name="keywords" content="flowers, roses, shop">
<meta name="description" content="Онлайн-магазин питомника роз">
<link rel="stylesheet" href="css/next_try.css" type="text/css">
<link rel="stylesheet" href="css/fonts.css" type="text/css">
<!-- <link rel="stylesheet" href="css/outline-prototype-label.css" type="text/css"> -->
<link rel="shortcut icon" href="pic/symbol.ico" type="image/x-icon">