<header id="start-page">
    <img src="pic/symbol.png" width="128" height="128" alig="left" hspace="5" vspace="5">
    <section class="title" id="title">
        <h1>
            <div class="loctype1">Роз</div>
            <div class="loctype2">Марин</div>
        </h1>
        <p>Приветствуем вас на сайте питомника роз Марины Алексейцевой...</p>
    </section>

    <nav class="navigation">
        <button class="menu">Меню</button>
        <div class="menu-content">
            <p><a href="/">На Главную</a></p>
            <p><a href="/favore">Избранное</a></p>
            <p><a href="/solve">Заказ</a></p>
            <p><a href="#contact">Контакты</a></p>
            <p><a href="#about">О нас</a></p>
            <p><a href="#start-page">В&nbspначало</a></p>
        </div>
    </nav>
</header>