<h1>Введите логин и пароль</h1>
<form id="admin_auth">
  <p>Login:</p>
  <input id="email" type="text" name="login" required>
  <p>Password:</p>
  <input id="password" type="password" name="password" required>
  <p><input type="submit" value="Войти"></p>
</form>

<script src="/js/auth.js"></script>