<section>
    <div class="Modern-Slider">
        {{#each categories}}
        {{#if slider_image}}
        <div class="item">
            <div class="img-fill">
                <a href="/category/{{category_id}}">
                    <img src="{{slider_image.path}}" alt="" width="100%">
                </a>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</section>