<!DOCTYPE html>
<html>

<head>
    {{> head}}

    {{> scripts}}

    <link rel="stylesheet" href="css/for_product_description.css" type="text/css">
</head>

<body>

    {{> header}}

    <main>
        {{> product_body}}
        <section class="table">

            <h2>Характеристики</h2>

            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="right">Цвет:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">розовый</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Кол-во цветков на стебле:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">3-5</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Аромат:</td>
                        <td class="left">
                            <div class="sort_val"><img src="http://www.rosebook.ru/files/images/cloud.jpg" alt=""></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Размер цветка:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">8-9 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Высота:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">90-125 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Ширина:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">125 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">USDA:</td>
                        <td class="left">
                            <div class="sort_val">Пятая зона</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к мучнистой росе:</td>
                        <td class="left">
                            <div class="sort_val">++</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к черной пятнистости:</td>
                        <td class="left">
                            <div class="sort_val">++</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к дождю:</td>
                        <td class="left">
                            <div class="sort_val"><img src="http://www.rosebook.ru/files/images/raindrop.jpg" alt="">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Цветение:</td>
                        <td class="left">
                            <div class="sort_val">Повторное</div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    {{> footer}}

</body>

</html>