<!DOCTYPE html>
<html>

<head>
    {{> head}}

    {{> scripts}}

    <link rel="stylesheet" href="css/for_product_description.css" type="text/css">
</head>

<body>

    {{> header}}

    <main>
        <section class="roses">
            <h1 class="category-title">
                A Shropshire Lad</h1>

            <div class="Modern-Slider" class="category">
                <div class="item">
                    <div class="img-fill">
                        <img loading="lazy" src="pic/A-Shropshire-Lad.jpg" alt="A Shropshire Lad" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
                    </div>
                </div>
                <div class="item">
                    <div class="img-fill">
                        <img loading="lazy" src="pic/A-Shropshire-Ladv1.jpg" alt="A Shropshire Lad" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
                    </div>
                </div>
                <div class="item">
                    <div class="img-fill">
                        <img loading="lazy" src="pic/A-Shropshire-Ladv2.jpg" alt="A Shropshire Lad" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
                    </div>
                </div>
            </div>

            <div class="description" class="category">

                <h2>Описание</h2>

                <p>Цветки Shropshire Lad очень привлекательны. Они раскрываются в плоские розетки, красивого нежно-розового цвета, хотя распределение цвета по цветку непостоянно. Иногда часть индивидуального цветка гораздо темнее остального цветка. У лепестков
                    также более темная оборотная сторона. Цветки появляются в кистях до 10 шт, и появляются регулярно до поздней осени. У Shropshire Lad темная листва, и изящные гибкие побеги; сорт формирует достаточно раскидистый куст.</p>
            </div>
        </section>
        <section class="table">

            <h2>Характеристики</h2>

            <table cellspacing="0" cellpadding="0">
                <tbody>
                    <tr>
                        <td class="right">Цвет:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">розовый</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Кол-во цветков на стебле:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">3-5</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Аромат:</td>
                        <td class="left">
                            <div class="sort_val"><img src="http://www.rosebook.ru/files/images/cloud.jpg" alt=""></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Размер цветка:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">8-9 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Высота:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">90-125 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Ширина:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">125 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">USDA:</td>
                        <td class="left">
                            <div class="sort_val">Пятая зона</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к мучнистой росе:</td>
                        <td class="left">
                            <div class="sort_val">++</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к черной пятнистости:</td>
                        <td class="left">
                            <div class="sort_val">++</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к дождю:</td>
                        <td class="left">
                            <div class="sort_val"><img src="http://www.rosebook.ru/files/images/raindrop.jpg" alt=""></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Цветение:</td>
                        <td class="left">
                            <div class="sort_val">Повторное</div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>
    </main>

    {{> footer}}

</body>

</html>