<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title> РозМарин </title>
    <meta name="keywords" content="flowers, roses, shop">
    <meta name="description" content="Онлайн-магазин питомника роз">
    <!-- <link rel="stylesheet" href="css/outline-prototype-label.css" type="text/css"> -->
    <link rel="stylesheet" href="../../css/next_try.css" type="text/css">
    <link rel="stylesheet" href="../../css/fonts.css" type="text/css">
    <link rel="shortcut icon" href="../../pic/symbol.ico" type="image/x-icon">

    <link rel="stylesheet" href="../../font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js" integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="../../css/roses_slider.css" type="text/css">
    <link rel="stylesheet" href="../../css/for_item_pic.css" type="text/css">
    <script src="../../js/slider_options.js"></script>
    <link rel="stylesheet" href="../../css/for_product_description.css" type="text/css">
</head>

<body>
    <header id="start-page">
        <img src="../../pic/symbol.png" width="128" height="128" alig="left" hspace="5" vspace="5">
        <section class="title" id="title">
            <h1>
                <div class="loctype1">Роз</div>
                <div class="loctype2">Марин</div>
            </h1>
            <p>Приветствуем вас на сайте питомника роз Марины Алексейцевой...</p>
        </section>

        <nav class="navigation">
            <button class="menu">Меню</button>
            <div class="menu-content">
                <p><a href="../index.html">На Главную</a></p>
                <p><a href="../html/The_Best.html">Избранное</a></p>
                <p><a href="../html/solve.html">Заказ</a></p>
                <p><a href="#contact">Контакты</a></p>
                <p><a href="#about">О нас</a></p>
                <p><a href="#start-page">В&nbspначало</a></p>
            </div>
        </nav>
    </header>
    <main>
        <section class="roses">
            <h1 class="category-title">
                Golden Celebration</h1>

            <div class="Modern-Slider" class="category">
                <div class="item">
                    <div class="img-fill">
                        <img loading="lazy" src="../../pic/Golden-Celebration.jpg" alt="Golden Celebration" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
                    </div>
                </div>
                <div class="item">
                    <div class="img-fill">
                        <img loading="lazy" src="../../pic/Golden-Celebrationv1.jpg" alt="Golden Celebration" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
                    </div>
                </div>
                <div class="item">
                    <div class="img-fill">
                        <img loading="lazy" src="../../pic/Golden-Celebrationv2.jpg" alt="Golden Celebration" sizes="(max-width: 300px) 85vw, 300px" width="300" height="300">
                    </div>
                </div>
            </div>

            <div class="description" class="category">

                <h2>Описание</h2>

                <p>У этой розы гигантские, шаровидные цветки на элегантно поникающих ветвях. Цвет медно-желтый, необычный для английских роз. Если ближе рассмотреть лепестки, видно, что эффект создается за счет множества мелких розовых точек на глубоком
                    желтом фоне. Запах сильный. Значительная устойчивость к заболеваниям. Превосходный сорт во всех отношениях, соединяющий в себе красоту,силу и элегантность. Один из лучших сортов Остина. Быстро растет и вырастает в крупный куст. При
                    хорошем уходе цветет обильно. Цветки густомахровые. В жарком климате может выращиваться как невысокая плетистая роза. Великолепные цветки этой изумительной английской розы сочетают старинную форму с вполне современной окраской. Желтые
                    с красным бутоны распускаются в густомахровые цветки 8-14 см в диаметре, с внутренними лепестками, образующими чашевидную форму, и отогнутыми внешними. Цвет обычно насыщенно яично-желтый, но могут появляться и персиковые или розовые
                    тона, создавая медно-желтый оттенок. Цветки появляются в небольших кистях, часто поникают. Аромат легкий или средний, его описывают как пряный или фруктовый. Обильно цветет ранним летом, затем следуют быстро повторяющиеся волны повторного
                    цветения до конца сезона. Побеги слегка или умеренно колючие, дуговидные, с блестящей ярко-зеленой листвой. Куст округлый, раскидистый, достигает 120-150 см высотой и столько же шириной в самом холодном климате, и до 180-200 см в жарких
                    странах. Эта красивая роза будет хороша в миксбордере – попробуйте скомбинировать ее с лавандой или шалфеем. Устойчивость к болезням хорошая, хотя если черная пятнистость распространена в вашем регионе, лучше применять профилактику.
                </p>
            </div>
        </section>
        <section class="table">

            <h2>Характеристики</h2>

            <table cellspacing="0" cellpadding="0">

                <tbody>
                    <tr>
                        <td class="right">Цвет:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">ярко-желтый</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Кол-во цветков на стебле:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">3-5</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Аромат:</td>
                        <td class="left">
                            <div class="sort_val"><img src="http://www.rosebook.ru/files/images/cloud.jpg" alt=""><img src="http://www.rosebook.ru/files/images/cloud.jpg" alt=""><img src="http://www.rosebook.ru/files/images/cloud.jpg" alt=""></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Размер цветка:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">14-16 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Высота:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">120-150 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">Ширина:</td>
                        <td class="left" colspan="2">
                            <div class="sort_val">120 см</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="right">USDA:</td>
                        <td class="left">
                            <div class="sort_val">Шестая зона</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к мучнистой росе:</td>
                        <td class="left">
                            <div class="sort_val">+++</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к черной пятнистости:</td>
                        <td class="left">
                            <div class="sort_val">+++</div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Устойчивость к дождю:</td>
                        <td class="left">
                            <div class="sort_val"><img src="http://www.rosebook.ru/files/images/raindrop.jpg" alt=""></div>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="right">Цветение:</td>
                        <td class="left">
                            <div class="sort_val">Повторное</div>
                        </td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </section>

    </main>

    <footer>
        <section class="contact" id="contact">
            <p>
                <a href="tel:+79135155043" target="_blank"></a>+7(913)515-50-43</p>
            <p><a href="https://vk.com/ikar108">VK</a></p>
            <p><a href="https://t.me/ikar108">Telegram</a> </p>
            <p><a href="mailto:ikar108@yandex.ru" target="_blank">E-mail</a></p>
        </section>

    </footer>

</body>

</html>