<!DOCTYPE html>
<html>

<head>
  {{> head}}
  {{> scripts}}
</head>

<body>
  {{> header}}

  <main>
    {{> slider}}

    {{> main_index}}

    {{> about}}

  </main>

  {{> footer}}

</body>

</html>