<!DOCTYPE html>
<html>

<head>
  {{> head}}

  {{> scripts}}

  <link rel="stylesheet" href="/css/for_item_pic.css" type="text/css">
  <link rel="stylesheet" href="/css/for_product_description.css" type="text/css">
</head>

<body>

  {{> header}}

  <main>
    {{> product_body}}
  </main>

  {{> footer}}

</body>

</html>